@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

.input-group {
	position: relative;
    display: table;
    border-collapse: separate;
	.form-control {
		position: relative;
	    z-index: 2;
	    float: left;
	    width: 100%;
	    margin-bottom: 0;
	    display: table-cell;
	    &:first-child {
	    	border-bottom-right-radius: 0;
    		border-top-right-radius: 0;
	    }
	    &:last-child {
	    	border-bottom-left-radius: 0;
    		border-top-left-radius: 0;
	    }
	    &:not(:first-child):not(:last-child) {
	    	border-radius: 0;
	    }
	}
}